.blog {
    display: flex;
    /* md-размер от 768px до 991px */
    @media (max-width: 991px) {
        flex-direction: column;
    }
}

.blog__col {
    width: 50%;

    /* md-размер от 768px до 991px */
    @media (max-width: 991px) {
        width: 100%;
    }
}

.blog__contact-form {
    margin-left: auto;
    /* md-размер от 768px до 991px */
    @media (max-width: 991px) {
        margin: 0 auto 30px;
    }
}