.contact-form {
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden;

    color: #FFF;
}

.contact-form__header {
    padding: 20px 30px;
    background-color: darken($primaryColor, 8%);
    line-height: 1.3;
}

.contact-form__title {
    margin-bottom: 5px;

    font-family: $secondFontFamily;
    font-weight: 900;
    font-size: 30px;
}

.contact-form__text {
    font-size: 16px;
}

.contact-form__body {
    padding: 20px 30px 30px;
    background-color: $primaryColor;
}