$mainFontFamily: 'PT Sans', sans-serif;
$secondFontFamily: 'Lato', sans-serif;
$primaryColor: #004AF2;
$textColor: #585858;
$textColorDarken: #2c2c2c;
$btnGradient: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
