<footer class="footer">
    <div class="container">
        <div class="footer__logo">
            <img src="./assets/img/logo-black.svg" alt="Logo">
        </div>
        <address class="footer__address">
            <p>New York, Street, ZIP code</p>
            <p>Call Us: +9948373123 or E-mail: hello@centerlogistic.com</p>
        </address>
        <nav class="footer__nav">
            <a href="#" class="footer__nav-link">Terms & Contidions</a>
            <a href="policy.html" class="footer__nav-link">Privacy Policy</a>
            <a href="blog.html" class="footer__nav-link">Our blog</a>
        </nav>
    </div>
</footer>