<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="index.html">
                <img src="./assets/img/logo.svg" alt="Logo: Center Logistic">
            </a>
            <nav class="nav" id="nav">
                <a href="index.html" class="nav__link">Home Page </a>
                <a href="blog.html" class="nav__link">Blog</a>
                <a href="policy.html" class="nav__link">Privacy Policy</a>
            </nav>
            <button class="burger" id="burger-btn">
                <div class="burger__center"></div>
            </button>
        </div>
    </div>
</header>