<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="index.html">
                <img src="./assets/img/logo.svg" alt="Logo: Center Logistic">
            </a>
            <nav class="nav" id="nav">
                <a href="#" class="nav__link" data-scroll="#services">Services</a>
                <a href="#" class="nav__link" data-scroll="#clients">Clients</a>
                <a href="#" class="nav__link" data-scroll="#benefits">Benefits</a>
                <a href="#" class="nav__link" data-scroll="#team">Team</a>
                <a href="#" class="nav__link" data-scroll="#mission">Mission</a>
                <a href="#" class="nav__link" data-scroll="#news">News</a>
                <a href="#" class="nav__link" data-modal="#requestModal">Contact Us</a>
            </nav>
            <button class="burger" id="burger-btn">
                <div class="burger__center"></div>
            </button>
        </div>
    </div>
</header>