<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Title and SEO -->
<title>{{ title }}</title>
<meta name="description" content="Описание страницы" />
<meta name="keywords" content="ключевые слова, фразы" />

<!-- Styles -->
<link rel="stylesheet" href="./assets/css/main.min.css" />
<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">

<!-- Open Graph -->
<!-- <meta property="og:url" content="https://#.ru/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Title" />
<meta property="og:description" content="Description" />
<meta property="og:image" content="./img/opengraph.jpg"/> -->
