<div class="modal" id="requestModal">
    <div class="modal__inner">
        <div class="modal__header">
            <h4 class="modal__title">Need to deliver your cargo?<br>We can help!</h4>
            <p class="modal__subtitle">Fill a little form and we will call you back!</p>
        </div>
        <div class="modal__body">
            <form action="#" class="form">
                <div class="form__group">
                    <input type="text" class="input  input--dark  input--user" placeholder="Your name">
                </div>
                <div class="form__group">
                    <input type="tel" class="input  input--dark  input--phone" placeholder="Your phone">
                </div>
                <div class="form__group">
                    <input type="email" class="input  input--dark  input--email" placeholder="Your e-mail">
                </div>

                <button class="btn  btn--wide"><span>Call me back</span></button>
            </form>
        </div>
        <div class="modal__footer">
            <h5 class="modal__footer-title">Our contacts</h5>
            <address class="modal__address">
                <p>New York, Street, ZIP code</p>
                <p>Phone: <a href="tel:#">+9948373123</a></p>
                <p>E-mail: <a href="mailto:#">hello@centerlogistic.com</a></p>
            </address>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="./assets/img/close-icon.svg" alt="close icon">
        </button>
    </div>
</div>

<div class="modal" id="thanksModal">
    <div class="modal__inner">
        <div class="modal__header">
            <img src="./assets/img/tick-icon.svg" alt="Tick icon" class="modal__icon">
            <h4 class="modal__title">Thanks for your request</h4>
            <p class="modal__subtitle">We call you back as soon as possible!</p>
        </div>
        <div class="modal__footer">
            <h5 class="modal__footer-title">Our contacts</h5>
            <address class="modal__address">
                <p>New York, Street, ZIP code</p>
                <p>Phone: <a href="tel:#">+9948373123</a></p>
                <p>E-mail: <a href="mailto:#">hello@centerlogistic.com</a></p>
            </address>
        </div>
        <button class="modal__close" data-modal-close>
            <img src="./assets/img/close-icon.svg" alt="close icon">
        </button>
    </div>
</div>